<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaxEase | Official</title>
  </head>
  <body>

    <main>
      <h2>Welcome to TaxEase</h2>
    </main>

  </body>
</html>
<header>
    <nav role="navigation" aria-label="Navigation">
      <div class="container navbar">
        <h1>Codes & Bytes</h1>
        <ul class="nav-menu">
          <li><a href="#home">Home</a></li>
          <li><a href="#calc">Calculate</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#Vision">Vision</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <section id="home" class="hero">
    <div class="hero-overlay"></div>
    <div class="container hero-content">
      <div class="hero-text">
        <h2 id="typed-text"></h2>
      </div>
    </div>
  </section>
  
  