.contact {
    padding: 3rem 0;
    margin-top: 3rem;
    text-align: center;
  }
  
  .contact h1 {
    font-weight: 100;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .contact p {
    color: #333334;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  form {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .form-input {
    margin-bottom: 20px;
    width: 100%;
    margin: 15px 0;
    padding: 10px;
    font-size: 15px;
    border: 1px solid rgb(242, 241, 241);
    border-radius: 25px;
    box-shadow: 0 14px 16px 12px rgb(0 0 0 / 0.1);
    text-align: center;
    font-weight: bold;
  }
  .form-button button {
    background-color: #1167b1;
    color: white;
    padding: 15px 25px;
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
  }
  
  .form-button button:hover {
    background-color: #d56666;
    color: black;
    box-shadow: 0 14px 16px 12px rgb(0 0 0 / 0.1),
      0 2px 4px -2px rgb(0 0 0 / 0.1);
    
  }
  
  .form-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
  }